{% extends "base.jinja" %}
{% block content %}
    {% from "_form.jinja" import render_field %}
    <form method=post action="/register">
      <dl>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
      </dl>
      <p><input type=submit value=Register>
    </form>
{% endblock %}
