{% extends "base.jinja" %}

{% block js %}
<script src="/static/js/add-entry.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/add-entry.css" />
{% endblock %}

{% block content %}
    <h1>Add Entry for {{person.first_name}}</h1>
    
    <form id="entry-form" method="post">
        <div id="notes">
        </div>
        <input type="submit" value="Save" />
        <input type="hidden" name="notes" id="notes-field">
    </form>

    <script type="text/html" id="note-tmpl">
        {% raw %}
        <input class="body" value="<%= body %>" />
        This is feedback <input type="checkbox" class="is-feedback" <% if(is_feedback){%>checked<%}%> />
        <% if (is_feedback) {%> 
            Feedback for: <input class="feedback-for" />
        <%}%>
        Check in on this <input type="checkbox" class="is-checkin" <% if(is_checkin){%>checked<%}%> />

        <% if (is_checkin) {%> 
            Check in on: <input class="check-in-on" />
        <%}%>
        {% endraw %}
    </script>
{% endblock %}



