{% extends "base.jinja" %}

{% block js %}
<script src="/static/js/add-entry.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/add-entry.css" />
{% endblock %}

{% block content %}
    <h1>Add Entry for {{person.first_name}}</h1>
    
    <form id="entry-form" method="post">
        <div id="feedback"></div>
        <div id="pinned-notes"></div>
        <div id="notes"></div>
        <input type="submit" value="Save" />
        <input type="hidden" name="notes" id="notes-field">
    </form>

    <script type="text/html" id="pinned-note-tmpl">
        <%= body %>
        <a class="unpin-link" href='#'>Done</a>
    </script>

    <script type="text/html" id="feedback-tmpl">
        <%= body %>
        <a class="communicated-link" href='#'>Communicated</a>
    </script>

    <script type="text/html" id="note-tmpl">
        {% raw %}
        <input class="body" value="<%= body %>" />
        None <input type="radio" name="note-type" value="NOTE" class="note-type" <% if(isNote()){%>checked<%}%> />
        This is feedback <input type="radio" name="note-type" value="FEEDBACK" class="note-type" <% if(isFeedback()){%>checked<%}%> />
        <% if (isFeedback()) {%> 
            Feedback for: 
            <select class="feedback-for meta" data-meta="feedback-for">
                <% allPeople().each(function(p){%>
                    <option value="<%= p.get('id') %>" 
                        <% if(getMeta('feedback-for') == p.get('id')){ %>
                            selected
                        <%}%>
                    >

                        <%= p.get('first_name') %>
                        <%= p.get('last_name') %>
                    </option>
                <%});%>
            </select>
        <%}%>
        Check in on this <input type="radio" name="note-type" value="CHECKIN" class="note-type" <% if(isCheckin()){%>checked<%}%> />
        {% endraw %}
    </script>

    <script type="text/javascript">
        var managed_by_str = '{{managed_by_str}}';
        var pinned_str = '{{pinned_str}}';
        var feedback_str = '{{feedback_str}}';
    </script>
{% endblock %}



