{% extends "base.jinja" %}

{% block js %}
<script src="/static/js/add-entry.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/add-entry.css" />
{% endblock %}

{% block content %}
    <h1>Add Entry for {{person.first_name}}</h1>
    
    <form id="entry-form" method="post">
        <div id="notes">
        </div>
        <input type="submit" value="Save" />
        <input type="hidden" name="notes" id="notes-field">
    </form>

    <script type="text/html" id="note-tmpl">
        <input class="body" value="<%= body %>" />
    </script>
{% endblock %}



