{% extends "base.jinja" %}
{% block content %}
    <h1>All People</h1>
    {% for person in people %}
        {{person.first_name}}
    {% else %}
        No people found.
    {% endfor %}
{% endblock %}

