<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/tm.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Personnel</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ url_for("index") }}">Personnel</a>
                <ul id="nav-links" class="nav">
                    {% if user.is_anonymous() %}
                        {% if config.get('REGISTRATION_ENABLED') %}
                            <li><a href="{{ url_for("users.register") }}">Register</a></li>
                        {% endif %}
                        <li><a href="{{ url_for("users.login") }}">Log In</a></li>
                    {% else %}
                        <li><a href="{{ url_for("people.all") }}">People</a></li>
                        <div class="dropdown">
                          <!-- Link or button to toggle dropdown -->
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a tabindex="-1" href="#">Action</a></li>
                            <li><a tabindex="-1" href="#">Another action</a></li>
                            <li><a tabindex="-1" href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="#">Separated link</a></li>
                          </ul>
                        </div>
                        <li><a href="#">Settings</a></li>
                        <li><a href="{{ url_for("users.logout") }}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </div>
</body>
